name: HMCTS Shared Services Azure ACR Infrastructure Deployment Pipeline

trigger:
  batch: true
  branches:
    include:
      - master

resources:
  repositories:
    - repository: cnp-azuredevops-libraries
      type: github
      ref: refs/heads/master
      name: hmcts/cnp-azuredevops-libraries
      endpoint: "hmcts"

parameters:
  - name: overrideAction
    type: string
    default: plan
    values:
      - plan
      - apply
      - destroy

  - name: environment_components
    type: object
    default:
      - deployment: "sds_sbox_acr"
        environment: "sbox"
        component: "sds_acr"
        service_connection: "OPS-APPROVAL-GATE-SBOX-ENVS"
        product: "sds-platform"
        dependsOn: "Precheck"

      - deployment: "cft_sbox_acr"
        environment: "sbox"
        component: "cft_acr"
        service_connection: "OPS-APPROVAL-GATE-SBOX-ENVS"
        product: "cft-platform"
        dependsOn: "Precheck"

      - deployment: "zr_sbox_acr"
        environment: "sbox"
        component: "zr_acr"
        service_connection: "OPS-APPROVAL-GATE-SBOX-ENVS"
        product: "cft-platform"
        dependsOn: "Precheck"

      - deployment: "sds_prod_acr"
        environment: "prod"
        component: "sds_acr"
        service_connection: "OPS-APPROVAL-GATE-PROD-ENVS"
        product: "sds-platform"
        dependsOn: "precheck"

      - deployment: "cft_prod_acr"
        environment: "prod"
        component: "cft_acr"
        service_connection: "OPS-APPROVAL-GATE-PROD-ENVS"
        product: "cft-platform"
        dependsOn: "precheck"

      - deployment: "zr_prod_acr"
        environment: "prod"
        component: "zr_acr"
        service_connection: "OPS-APPROVAL-GATE-PROD-ENVS"
        product: "cft-platform"
        dependsOn: "Precheck"

variables:
  - name: timeoutInMinutes
    value: 60
  - name: agentPool
    value: ubuntu-latest
  - name: build
    value: $(Build.BuildNumber)
  - name: terraformInitSubscription
    value: 04d27a32-7a07-48b3-95b8-3c8691e1a263
  - template: vars/input-variables.yaml@cnp-azuredevops-libraries

stages:
  - stage: Precheck
    jobs:
      - job:
        pool:
          vmImage: ${{ variables.agentPool }}
        timeoutInMinutes: ${{ variables.timeoutInMinutes }}
        steps:
          - template: steps/terraform-precheck.yaml@cnp-azuredevops-libraries
            parameters:
              keyvaultName: "infra-vault-nonprod"
              keyvaultSecret: "azure-devops-sp-token"
              serviceConnection: "DCD-CFT-Sandbox"
              overrideAction: ${{ parameters.overrideAction }}

  - ${{ each deployment in parameters.environment_components }}:
      - stage: ${{ deployment.deployment }}
        dependsOn: ${{ deployment.dependsOn }}
        jobs:
          - job: TerraformPlanApply
            pool:
              vmImage: ${{ variables.agentPool }}
            timeoutInMinutes: ${{ variables.timeoutInMinutes }}
            steps:
              - template: steps/terraform.yaml@cnp-azuredevops-libraries
                parameters:
                  overrideAction: ${{ parameters.overrideAction }}
                  environment: ${{ deployment.environment }}
                  component: ${{ deployment.component }}
                  serviceConnection: ${{ deployment.service_connection }}
                  terraformInitSubscription: ${{ variables.terraformInitSubscription }}
                  product: ${{ deployment.product }}
